---
import { Image } from 'astro:assets';

const {url, title, imagePath, location, altText, blurUrl} = Astro.props

const imagesObj = import.meta.glob('/src/assets/*.{jpeg,jpg,png,gif}')

const finalImage = await imagesObj[imagePath]();

const imageWidth = finalImage["default"]["width"]

---

<div class="group ">
    <a href={url}>
        <div class="h-[28rem] overflow-hidden" style=`background-size: cover; background-position: center; background-image: url(${blurUrl});`>
            <!-- <img style="width: 100vw;" class="object-cover w-full h-full cursor-pointer transition duration-500  hover:scale-105" srcset=`${image} 1600w` alt="feature" loading="lazy" decoding="async"></div>  -->
            <Image fetchPriority="high" alt={altText} widths={[240, 540, 720, imageWidth]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${imageWidth}px`} src={imagesObj[imagePath]()} loading='eager' quality="mid" class="object-center object-cover  min-h-full h-full">
        </div>
        
        <div class="text-sm flex justify-between pt-2.5 group-hover:text-teal-700 dark:group-hover:text-yellow-500">
            <div  class="font-bold ">{title} </div>
            <div class="flex gap-1">
                <div>
                    <svg class="dark:fill-white group-hover:fill-teal-700 dark:group-hover:fill-yellow-500" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>
                </div>
                <span>{ location }</span>
            </div>
        </div>
    </a>
</div>

